.police1{
  font-family : parisienne;
  cursor: pointer;
}

.police2{
  font-family: FredokaBold;
  cursor: pointer;
}

.menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
  width: 100%;
  position: relative;
}

div.menu > * {
  padding-bottom: 2vw;
}

.fa{
  transform: scale(0.6);
  cursor: pointer;
}

.liste-fonts{
  position: absolute;
  width: 80px;
  right: 100%;
  list-style: none;
}
